/*
 *  Normalize cause duh
 */

@import '_normalize.scss';

/*
 *  Font Icons
 */

@import '_fontello-embedded.scss';

/*
 *  Color Variables
 */

$black: #333333;
$white: #ecf0f1;
$darkblue: #384F5F;
$fadedblue: #687978;
$neutral: #B8A480;
$tan: #FCC68E;
$orange: #F8A06A;

/*
 *  Image Urls
 */

$grass: '../img/grass.png';
$poly: '../img/poly.png';

/*
 *  General styles that I always add
 */

*, *:before, *:after {
  box-sizing: border-box;

  &::selection {
    background-color: transparentize($orange, 0.2);
  }
}

html, body, .container {
  font-family: Roboto, Helvetica, Arial, 'sans-serif';
  background-color: $white;
  color: $black;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

/*
 *  utility styles
 */

.left {
  text-align: left !important;

  transition: 0.5s ease;
}

.center {
  text-align: center !important;

  transition: 0.5s ease;
}

.right {
  text-align: right !important;

  transition: 0.5s ease;
}

.highlight, .link {
  padding: 5px;
  background-color: darken($white, 5%);
}

.link {
  color: $black;
  text-decoration: none;
  &:hover {
    background-color: darken($white, 10%);
  }
}

.ghost {
  height: 50px;
  border: 1px solid $black;
  color: $black;
  background-color: transparent;
  border-radius: 2px;
  padding: 0 15px;

  &.link {
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
  }

  transition: 0.2s ease;

  &:hover {
    background-color: $black;
    color: $white;

    transition: 0.2s ease;
  }

  &:focus {
    outline-color: $tan;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 15px;
  }

}

.card {
  display: inline-block;
  width: 250px;
//  height: 350px;
  overflow: hidden;
  background-color: darken($white, 5%);
  border-radius: 2px;
  min-width: 150px;
  max-width: 350px;

  &:hover {
    cursor: pointer;
    background-color: darken($white, 10%);
  }

  .thumb {

  }

  .descr {
    padding: 15px;
  }
}

.scroll {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  @extend .center;

  .icon {
    font-size: 25px;
    background-color: transparent;
    border-radius: 50%;

    transition: 0.2s ease;

    &:hover {
      background-color: $black;
      color: $white;
      cursor: pointer;

      transition: 0.2s ease;
    }
  }
}

.lazy {
  display: none;
}

body.no-scroll {
  overflow: hidden;
}

.section-title {
  width: 100%;
  font-size: 3em;
  @extend .center;
  font-weight: 300;
}

/*
 *  blaketarter.com styles
 */

.fold {
  height: 100%;
  width: 100%;

  background-color: $white;
  color: $black;
//  position: absolute;
//  top: 0;
  overflow: hidden;

  .logo {
    background: url($poly) no-repeat center center;
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
  }

  .top {
    margin: 35% auto;
    text-align: center;
    width: 60%;
    color: $black;
    position: relative;

    display: none;

//    &.stuck {
//      padding-top: 75px;
//    }

    .name {
      font-size: 6.5em;
      letter-spacing: 1.5;
      font-weight: 300;
      margin-bottom: 0;
      text-align: center;
      margin-top: 0;
      z-index: 5;

      transition: 0.2s ease;

      .nav-toggle {
        display: none;
        background-color: rgba(255, 255, 255, 0.8);
        color: $black;
        height: 50px;
        width: 50px;
        position: fixed;
        font-size: 25px;
        top: 5px;
        left: 15px;
        line-height: 50px;
        @extend .left;
        padding-left: 7px;
        overflow: hidden;

        transition: 0.2s ease;

        &:hover {
          cursor: pointer;
          background-color: $white;

          transition: 0.2s ease;
        }

        .nav-list {
          list-style: none;
          padding-left: 0;
          margin-left: -15px;

          .nav-item {
            padding-left: 15px;

            &.selected {
              background-color: darken($white, 5%);
            }

            &:hover {
              cursor: pointer;
              background-color: $white;
            }
          }
        }

        &.out {
          height: 400px;
          width: 200px;

          background-color: white;

          transition: 0.2s ease;

          &:hover {
            cursor: initial;
            background-color: white;
          }
        }
      }

      &.sticky {
        font-size: 45px;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0 !important;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);

        transition: 0.2s ease;

        .nav-toggle {
          display: block;
        }
      }
      
      @media screen and (max-width: 768px) {
        &.sticky {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }

    .subhead {
      font-size: 4.5em;
      font-weight: 300;
      margin-top: 0;

      .amp {
        font-weight: 700;
      }
    }

    .desc {
      margin: 0 auto;
      font-size: 3em;
      font-weight: 200;
    }

    .button-group {
      margin-top: 50px;
    }

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
}

@supports (width: 100vw) {
  .fold {
    height: 100vh;
    width: 100vw;
  }
}

.content {
  height: 100%;
  width: 100%;

  background-color: $white;
  color: $black;
  //  position: absolute;
  //  top: 0;

  .nl {
    margin: 50px auto;
    width: 60%;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.7;
    position: relative;

    div.scroll {
      bottom: -115px;
      
      @media screen and (max-width: 768px) {
        bottom: -50px;
      }
    }

    span.scroll {
      display: inline;
      position: relative;
      width: auto;
      bottom: 0;

      &:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 768px) {
      width: 90%;
      font-size: 1.5em !important;
    }

    .dom-list {
      .dom-node {
        list-style: none;
        font-size: 20px;
        display: inline-block;
        width: 30%;
        .node-name {
          background-color: darken($white, 5%);
          font-weight: bold;
          padding: 5px;
        }
      }
    }
  }

  .examples {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    .card {
      flex: 1;
      margin: 15px;

      .thumb {
        width: 100%;
        height: auto;
      }
    }

    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }

  .social {
    margin: 100px auto;
    @extend .center;

    .icon {
      font-size: 3.5em;
      color: $black;
      text-decoration: none;

      &:hover {
        color: $darkblue;
        cursor: pointer;
      }
    }
  }
}

/*
 *  Contact Form
 */

.contact-form {
  position: fixed;

  height: 100%;
  width: 100%;

  top: 0;
  right: 0;
  z-index: -1;

  background-color: $white;
  transform: translateX(9999px);

  transition: 1s ease;

  &.active {
    z-index: 10;
    transform: translateX(0px);
  }
}

/*
 *  featherlight styles
 */


.lightbox {
  display: none;
}

.featherlight {
  z-index: 6;
  padding-top: 75px;
  .featherlight-content {
    width: 80%;
    max-width: 1024px;

    @media screen and (max-width: 1024px) {
      padding: 0;
      border: 0;
    }

    @media screen and (max-width: 650px) {
      width: 95%;
    }
  }
}

/*
 *  Overwrites and stuff
 */

@media screen and (max-width: 800px) {
  .name {
    font-size: 3.5em !important;
  }

  .subhead, .desc {
    font-size: 2.5em !important;
  }

  .nl {
    font-size: 2em !important;
  }
}

body.wip {
  &:before {
    content: 'Coming Soon';
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 200px;
    z-index: 1000;
    font-size: 3em;
  }
}